/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */




/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$brand-color:       #a92a18!default;
$secondary-color: #c11f02 !default;
$brand-face:        'CenturyStd-BookCondensed',Georgia,serif !default;
$body-font-family : $brand-face;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */


/*============================================
=            Foundation Variables            =
============================================*/
$em-base: 16px !default;
$default-float: left;
$cursor-pointer-value: "pointer";

/*==========  Foundation emCalc  ==========*/
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

/*==========  Foundation triangle variables  ==========*/

// Dropdown Variables
//

// Height and width styles.

$f-dropdown-max-width: 200px;
$f-dropdown-height: auto;
$f-dropdown-max-height: none;
$f-dropdown-margin-top: 2px;

// Background color

$f-dropdown-bg: #fff;

// Border styles for dropdowns.

$f-dropdown-border-style: solid;
$f-dropdown-border-width: 1px;
$f-dropdown-border-color: darken(#fff, 20%);

// Triangle pip.

$f-dropdown-triangle-size: 6px;
$f-dropdown-triangle-color: #fff;
$f-dropdown-triangle-side-offset: 10px;

// List elements.

$f-dropdown-list-style: none;
$f-dropdown-font-color: #555;
$f-dropdown-font-size: emCalc(14px);
$f-dropdown-list-padding: emCalc(5px) emCalc(10px);
$f-dropdown-line-height: emCalc(18px);
$f-dropdown-list-hover-bg: $secondary-color;
$dropdown-mobile-left: 0;
$dropdown-mobile-default-float:   0 !default;

// When the dropdown has custom content.

$f-dropdown-content-padding: emCalc(20px);


/*-----  End of Foundation Variables  ------*/


/*==========  =fonts  ==========*/
$mono-font-family: Menlo,monospace;
$centuryBook: 'CenturyStd-BookCondensed',Georgia,serif;
$centuryItal: 'CenturyStd-BookCondensedIt';
$leagueReg: "LeagueGothicRegular",Helvetica,Arial,sans-serif;
$arialnarrow: "Arial Narrow", Arial, sans-serif;


