// ========================================
// a (link)
// ========================================

a {
  color: currentColor;
  transition: color 0.3s ease;

  &:hover {
    color: $color-primary-500;
  }
}
