@use "tools/font-face" as RobotoCondensed;

@include RobotoCondensed.fontFace(
  $weight: 300,
  $display: swap,
  $style: normal
);

@include RobotoCondensed.fontFace(
  $weight: 300,
  $display: swap,
  $style: italic
);

@include RobotoCondensed.fontFace(
  $weight: 400,
  $display: swap,
  $style: normal
);

@include RobotoCondensed.fontFace(
  $weight: 400,
  $display: swap,
  $style: italic
);

@include RobotoCondensed.fontFace(
  $weight: 700,
  $display: swap,
  $style: normal
);

@include RobotoCondensed.fontFace(
  $weight: 700,
  $display: swap,
  $style: italic
);
