// ========================================
// page
// ========================================

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-top-width: 0.25rem;
  border-color: $color-secondary-500;
}

.page_header {
  padding-top: 1rem;

  @include mq(lg) {
    padding-top: 0.25rem;
  }
}

.page_content {
  margin-top: 3rem;
}

.page_footer {
  margin-top: auto;
  background-color: $color-primary-900;
  color: $color-white;
}
