// ========================================
// HepCoalition settings
// ========================================

//! Attention aux variables à reporter également dans tailwind.config.js

// Mediaqueries
$mq-breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 800px,
  xl: 1100px,
);


// Couleurs
$color-black: #000;
$color-white: #fff;

$color-primary-100: #78ffff;
$color-primary-500: #19a1ac;
$color-primary-900: #0a3f43;
$color-secondary-500: #c11f02;
