/*==================================
=            breadcrumb            =
==================================*/
.breadcrumb {

}

.breadcrumb--path {
    > li {
        text-transform: uppercase;
        margin-right: .375em; /* 6px */
        &:before {
            content:"/ ";
            color: $text-color-light;
        }
        > a,
        > strong {
            padding-left: .125em; /* 2px */
        }
        &.active {
            color: $secondary-color;
        }
    }
}

/*-----  End of breadcrumb  ------*/
