/*============================
=            meta            =
============================*/

.meta {
    .hN {
        margin-bottom: 0;
        @include font-size(17px);
    }
}
.meta-item {
    margin-bottom: $base-spacing-unit;
    font-family: $heading-font;
    @include font-size(13px);
    text-transform: uppercase;
    color: lighten($text-color,50%);
    &.meta-author {
        margin-bottom: 0;
    }
    .self & {
        @include font-size(14px);
    }
}

.traduction {
    &.active {
        color: $secondary-color;
    }
    span {
        color: $text-color-light;
    }
}

/*-----  End of meta  ------*/
