/*============================
=            =nav            =
============================*/

.nav {
    font-family: $heading-font;
    text-transform: uppercase;
}

/*==========  nav-site  ==========*/
.nav-site {
    @include media-query(desk) {
        position: relative;
    }
    @include media-query(portable) {
        margin-top: 2em;
    }
}

.nav--dropdown {
    background-color: #fff;
    @include media-query(desk) {
        position: absolute;
        z-index: 90;
        top: -9999px;
        border: 4px solid $secondary-color;
        border-top: 0;
        > li {
            display: list-item;
            @include font-size(18px);
            line-height: 1.5;
            &:before {
                content:"/ ";
                color: $text-color-light;
                position: absolute;
                left: 0.2em;
            }
            > a {
                display: block;
                margin-left: 0.7em;
            }
        }
    }
}


/*==========  nav-lang  ==========*/
.nav-lang__container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    text-align: right;
    @include media-query(portable) {
        right: auto;
        text-align: center;
    }
    .no-js & {
        @include media-query(portable) {
            text-align: center;
        }
    }
}
    .nav-lang {
        @include media-query(portable) {
            @include font-size(14px);
        }
        strong {
            color: $secondary-color;
        }
    }

/*==========  nav-principale  ==========*/
.nav-principale__container {
    @include media-query(desk) {
        position: relative;
        border-bottom: 4px solid $secondary-color;
        a.nav-btn {
            display: none;
        }
    }
    @include media-query(portable) {
        position: absolute;
        z-index: 90;
        left: $base-spacing-unit;
        width: 100%;
        padding-right: $base-spacing-unit;
        text-align: left;
        a.nav-btn {
            display: inline-block;
            @include font-size(14px);
            text-transform: uppercase;
        }
    }
}
.nav-principale {
    span {
        &:after {
            width: 0;
            height: 0;
            border: 0.313em solid transparent; /* 5 */
            border-bottom: none;
            border-top-color: $secondary-color;
            content: '';
            vertical-align: middle;
            display: inline-block;
            position: relative;
            right: -0.313em; /* 5 */
        }
        @include media-query(portable) {
            &:after {
                border-top-color: #fff;
            }
        }
    }
    @include media-query(desk) {
        margin-bottom: 0;
        font-weight: 400;
        text-align: left;
        > li {
            @include font-size(20px);
            line-height: 2;
            position: relative;
            &:before {
                content:"/ ";
                color: $text-color-light;
            }
        }
        > li:hover .nav--dropdown {
            top: 2em;
            left: -5px;
        }
        .nav__item {
            position: relative;
            white-space: nowrap;
        }
    }
    @include media-query(portable) {
        display: none;
        background-color: $secondary-color; // #e15a1f;
        &.open {
            display: block;
        }
        // tous niveaux
        li {
            display:list-item;
            > a {
                display:block;
                color: #fff;
            }
        }
        // 1er niveau
        > li {
            > a {
                // padding: 0 $base-spacing-unit/2;
                @include font-size(18px);
                line-height: 2;
            }
            &:not(:last-child) {
                > a {
                    border-bottom: 1px solid $secondary-color-dark; // #cc470d;
                }
            }
            &:hover .nav--dropdown {
                display: block;
            }
        }
        > li:hover > a,
        &:not(:hover) > li.active > a {
            background-color: $secondary-color-dark; // #cc470d;
        }
        // 2e niveau
        .nav--dropdown {
            // display: none;
            padding: 0 $base-spacing-unit/2 $base-spacing-unit/2;
            background-color: $secondary-color-dark; // #cc470d;
            a {
                border-top: 1px solid $secondary-color;// #e15a1f;
                padding: $base-spacing-unit/2;
                @include font-size(16px);
                line-height: 1;
            }
            > li a:hover,
            &:not(:hover) > li.active a {
                background-color: $secondary-color; // #e15a1f;
            }
        }
    }
}
.item {
  margin-right: 0.5em;
  @include media-query(portable) {
    margin: 0;
    padding: 0 8px;
  }
}

.search-site {
    position: absolute;
    right: 0;
    top: 0;
    @include media-query(portable) {
        top: auto;
        z-index: 99;
    }
    .no-js {
        right: 0;
    }
}

.icon--navigation {
    display: inline-block;
    padding: 3px 8px 5px;
    background-color: $primary-color;
    border-radius: 5px;
    @include font-size(16px);
    color: #fff;
    .active > & {
        border-radius: 5px 5px 0 0;
        background-color: $secondary-color;
    }
}

/*==========  nav-plan  ==========*/
.nav-plan {
    margin-bottom: $base-spacing-unit*2;
    ul li {
        position: relative;
        padding-left: 0.7em;
        &:before {
            display: block;
            position: absolute;
            left: 0;
            content: '/';
            color: #ccc;
        }
    }
}

/*-----  End of =nav  ------*/
