/*==================================
=            =page-foot            =
==================================*/

.page-foot {
    border-top: 7px solid $secondary-color;
    padding-top: $base-spacing-unit;
    background-color: $pagefoot-color;
    color: #fff;
    .hN {
        color: $primary-color;
        margin-bottom: 0;
        text-transform: uppercase;
        @include font-size(26px);
    }
    .logo {
        margin: $base-spacing-unit 0;
        display: inline;
    }
    .spip_out {
        color: #fff;
        border-bottom: 1px solid $primary-color;
    }
    
}

/*-----  End of =page-foot  ------*/

