/*=============================
=            =Base            =
=============================*/

/*==========  Liens  ==========*/
a,
a.spip_out {
   color: #000;
   text-decoration: none;
   @include vendor(transition, color 0.35s ease-in-out 0.2s);
   &:visited{}
   &:hover{color: $brand-color; text-decoration: none;}
   &:active, &:focus {
      position: relative; top: 1px;
   }
}
a.more {
    color: $primary-color;
    border-bottom: 1px solid #fff;
    &:hover {
        border-bottom-color: $primary-color;
    }
}

/*-----  End of =Base  ------*/

