/*=============================
=            =Base            =
=============================*/
img,
img[height],
img[width] {
  height: auto;
  width: auto;
  max-width: 100%;
}
/*==========  Liens  ==========*/
a,
a.spip_out {
   color: #000;
   text-decoration: none;
   @include vendor(transition, color 0.35s ease-in-out 0.2s);
   &:visited{}
   &:hover{color: $brand-color; text-decoration: none;}
}
a.more {
    color: $primary-color;
    border-bottom: 1px solid #fff;
    &:hover {
        border-bottom-color: $primary-color;
    }
}
a.push,
a.spip_out {
  &:active, &:focus {
      position: relative; top: 1px;
   }
}
.active {
  color: $secondary-color;
  &:hover {
    color: $primary-color;
  }
}

/*-----  End of =Base  ------*/

