/*================================
=            =boutons            =
================================*/

.btn{
    display:inline-block;
    vertical-align:middle;
    margin:0;
    padding: 0 1em;
    border:none;
    white-space:nowrap;
    font: 400 100%/2 $CabinC;
    text-transform: uppercase;
    cursor:pointer;
    @include border-radius(3px);
    @include box-shadow(0 0 4px rgba(0,0,0,0.3));
    @include vendor(transition,background-color 0.3s ease-out);
}

/* font-size */
.btn--alpha{
    font-size:3rem;
}

.btn--beta{
    font-size:2rem;
}

.btn--gamma{
    font-size:1rem;
}

/* Tailles */
.btn--full{
    width:100%;
    padding-right:0;
    padding-left: 0;
    text-align:center;
}

/* Couleurs */
.btn--primary {
    background-color: $primary-color;
    color: #fff;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,$primary-color),color-stop(100%,darken($primary-color,20%)));
    background-image: -webkit-linear-gradient($primary-color,darken($primary-color,20%));
    background-image: -moz-linear-gradient($primary-color,darken($primary-color,20%));
    background-image: -o-linear-gradient($primary-color,darken($primary-color,20%));
    background-image: linear-gradient($primary-color,darken($primary-color,20%));
    &:hover {
        background-color: darken($primary-color,20%);
        background-image: none;
        color: #fff;
    }
}
.btn--border {
    border: 2px solid #fff;
}

/*-----  End of =boutons  ------*/

