/*============================
=            =box            =
============================*/
.box {
    @extend .landmark;
    .hN {
        margin-bottom: .5em;
        border-bottom: 2px solid $secondary-color;
        @include font-size($h2-size);
        font-weight: normal;
        color: $secondary-color;
    }
}
/* petition */
.petition__box {
    background-color: darken(#fff,10%);
    padding: 0 .8em;
    .hN {
        color: $secondary-color;
        margin-bottom: .3em;
    }
}

.petition__box--supporters {
    .hN {
        border-bottom: 3px solid $primary-color;
        margin-bottom: 0;
        color: $primary-color;
    }
}

/*-----  End of =box  ------*/

