/*============================
=            =box            =
============================*/

/* petition */
.petition__box {
    background-color: darken(#fff,10%);
    padding: 0 .8em;
    .hN {
        color: $secondary-color;
        @include font-size($h1-size);
        margin-bottom: .3em;
    }
}

.petition__box--supporters {
    .hN {
        border-bottom: 3px solid $primary-color;
        margin-bottom: 0;
        color: $primary-color;
    }
}

/*-----  End of =box  ------*/

