/*=================================
=            =Carousel            =
=================================*/
.features {
    width: 100%;
    // height: 420px;
    margin-bottom: $base-spacing-unit*2;
    // background-color: #222;
    // background-color: rgba(#222,0.9);
    .js & {
        overflow: hidden;
    }
}
.features--images {
    height: auto;
}
.flexslider-container {
    .js & {
        max-width: 960px;
        margin: 0 auto;
        overflow: visible;
    }
}
    .flexslider {
        border-width: 0;
        .features--images & {
            margin-bottom: 24px;
        }
    }
        .slides__item {
            position: relative;
        }
            .slides__item--body {
                position: absolute;
                width: (100%/3);
                bottom: $base-spacing-unit/2;
                left: $base-spacing-unit/2;
                padding: 10px 15px;
                background-color: #ccc;
                background-color: rgba(#fff,0.6);
            }
    .flex-control-nav {
        .features--images & {
            bottom: -24px;
            background-color: #fff;
        }
    }
    .flex-control-paging {
        a {
            width: 11px;
            height: 11px;
            display: block;
            cursor: pointer;
            text-indent: -9999px;
            @include vendor(border-radius,20px);
            background: url("img/flex-control-nav-bg.png") no-repeat 0 -27px;
            &:hover {
                background-position: 0 -14px;
            }
        }
        a.flex-active {
            background-position: 0 -1px;
        }
    }
    .flex-direction-nav {
        a {
            width: 42px;
            height: 42px;
            margin: 0;
            background-image: url("img/icon__sprite.png");
            opacity: 1;
        }
        .flex-prev {
            left: -21px;
        }
        .flex-next {
            right: -21px;
            background-position: 0 -42px;
        }
    }

/*-----  End of =Carousel  ------*/
