/*=================================
=            =Carousel            =
=================================*/
.features {
    width: 100%;
    height: 420px;
    background-color: #222;
    margin-bottom: $base-spacing-unit*2;
    .js & {
        overflow: hidden;
    }
}
.flexslider-container {
    .js & {
        max-width: 960px;
        margin: 0 auto;
        overflow: visible;
    }
}
    .flexslider {
        border-width: 0;
    }
        .slides__item {
            position: relative;
        }
            .slides__item--holder {
                position: absolute;
                width: (100%/3);
                bottom: 0;
                padding: 10px 15px;
                padding-left: 30px;
                background-color: rgba(#10656C,0.5);
                p {
                    margin-bottom: 0;
                }
            }
    .flex-direction-nav {
        a {
            width: 42px;
            height: 42px;
            margin: 0;
            background-image: url("img/icon__sprite.png");
            opacity: 1;
        }
        .flex-prev {
            left: -21px;
        }
        .flex-next {
            right: -21px;
            background-position: 0 -42px;
        }
    }

/*-----  End of =Carousel  ------*/
