/*====================================
=            =formulaires            =
====================================*/

/*==========  formulaires : styles communs  ==========*/

fieldset {
    border: 1px solid #ddd;
}
legend {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
label {
    font-weight: bold;
    color: #4d4d4d;
}
input, textarea {
    width: 100%;
    background-color: #fff;
    padding: .5em;
    border: 1px solid #ccc;
    @include vendor(box-shadow, inset 0 1px 2px rgba(0,0,0,0.1));
    @include block-glowing-effect(focus, $glowing-effect-fade-time, $glowing-effect-color);
    &:focus {
        background: $input-focus-bg-color;
        border-color: $input-focus-border-color;
        outline: none;
    }
}
.boutons {
    margin-bottom: 0;
    input {
        @include button-base;
        @include button-size($padding:$button-med, $full-width:true, $is-input:true);
        @include button-style;
        @include radius;
        @include single-transition;
        @include inset-shadow($active:true);
        font-weight: 700;
        text-transform: uppercase
    }
}
/* messages */
.reponse_formulaire {
    line-height: 1.5 * $base-line-height;
    font-weight: 700;
    padding: 0 $base-spacing-unit/2;
    color: #fff;
    // border: 1px solid #000;
    @include vendor(border-radius,4px);
    @include vendor(box-shadow, 0 0 5px rgba(0,0,0,0.15));
}
.reponse_formulaire_ok {
    background-color: #04595F;
}
.reponse_formulaire_erreur {
    background-color: darken($secondary-color,5%);
}

.erreur_message {
    display: block;
    color: $secondary-color;
    font-style: italic;
}

.formulaire_spip {
    font-family: $heading-font;
    ul {
        list-style:none;
        margin-left:0;
    }
    li {
        margin-bottom: $base-spacing-unit;
    }
}

/*==========  formulaire recherche  ==========*/
.search__form {
    background-color: $primary-color;
    border-radius: 10px;
    padding: 3px 8px 3px 3px;
    white-space: nowrap;
    line-height: 10px;
    input {
        vertical-align: middle;
        font-size: 14px;
    }
    input[type=search] {
        -webkit-appearance: none;
        border: 0;
    }
}
.search__label--field {
    display: inline-block;
}
.search__field {
    display: inline-block;
    padding: 3px 0;
    border-radius: 8px;
    width: 1px;
    opacity: 0;
    font-size: 12px;
    @include vendor(transition,all 200ms ease-in 0s);
    .search__form:hover &,
    .search__form input[type=search]:focus {
        opacity: 1;
        width: 200px;
        padding: 3px 9px;
        outline: 0;
    }
}
.search__label--submit {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(img/icon__search.svg) no-repeat center center;
}
.search__submit {
    visibility: hidden;
    padding: 0;
    border: none;
}

/*==========  formulaires Formidable  ==========*/

/* formulaire pétition */

.petition__formulaire {
    label {
        display: none;
    }
    input,
    select {
        width: 100%;
    }
}


/*-----  End of =formulaires  ------*/

