/*===============================
=            =Hentry            =
===============================*/

/* pour les résumés */
.resume {
    header {
        float: left;
        @extend .desk-one-half;
        padding-right: $half-spacing-unit;
    }
    .entry-content {
        float: left;
        @extend .desk-one-half;
        padding-left: $half-spacing-unit;
        &.plus-logo {
            float: none;
        }
    }
}

/* pour les contenus développés (objet) */
.objet {
    header {
        text-align: center;
    }
    .titre {
        color: $primary-color;
        @include font-size(52px);
    }
    .soustitre {
       @include font-size(36px); 
    }
    .texte {
        margin-bottom: $base-spacing-unit;
    }

}

/*-----  End of =Hentry  ------*/

