/*===============================
=            =Listes            =
===============================*/

/*==========  liste--bloc  ==========*/
.liste--bloc {
    list-style:none;
    margin-left:0;
    &.recherche {
        margin-left: $base-spacing-unit;
    }
    .meta & ul > li {
        margin-left: $base-spacing-unit/2;
    }
}

/*==========  separateur  ==========*/
.sep {
    > li {
        border-bottom: 1px solid darken(#fff,5%);
    }
}

/*-----  End of =Listes  ------*/

