/*============================
=            meta            =
============================*/

.meta {
    .hN,
    .updated,
    .meta-author,
    .share {
        // text-transform: uppercase;
        
    }
    .hN {
        margin-bottom: 0;
        @include font-size(17px);
    }
}
.meta-item {
    margin-bottom: $base-spacing-unit;
    @include font-size(13px);
    text-transform: uppercase;
    color: lighten($text-color,50%);
    &.meta-author {
        margin-bottom: 0;
    }
}

/*-----  End of meta  ------*/
