
/*=============================
=            =misc            =
=============================*/

/*==========  grid  ==========*/
  /* grid--center */
  .grid--center{
    text-align:center;
    > .grid__item{
      text-align:left;
    }
  }
  /* grid--rev */
  .grid--rev {
    direction:rtl;
    text-align:left;

    > .grid__item{
        direction:ltr;
        text-align:left;
    }
  }

/*==========  grid : push  ==========*/
[class*="push--"]{ position:relative; }

@include media-query(desk){
  // push class
  .push--desk-one-twelfth {
     left:8.333%;
  }
  .push--desk-one-third,
  .push--desk-four-twelfths {
    left: 33.333%;
  }
  .push--desk-two-twelfths,
  .push--desk-one-sixth {
    left: 16.666%;
  }
}

/*==========  couleur texte sélectionné  ==========*/
::selection {
    background-color:$secondary-color;
    color:#fff; 
}
::-moz-selection {
    background-color:$secondary-color;
    color:#fff; 
}

/*==========  spip-admin  ==========*/
body {
    .spip-admin-bloc,
    .spip-admin-float {
        z-index: 99999; top: 10%; left: 0; right: auto;
    }
}
#spip-admin .spip-admin-boutons {
    font:10px/1 $mono-font-family;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 0 5px 5px 0;
}

/*-----  End of =misc  ------*/

