/*============================
=            =nav            =
============================*/

.nav {
    font-family: $heading-font;
    text-transform: uppercase;
}

/*==========  nav-site  ==========*/
/* 
div.nav-site
    nav#nav-main.nav-principale__container
    div.search-site
    nav#nav-lang.nav-lang__container
*/
.nav-site {
    .no-touch & {
        position: relative;
    }
}

.nav--dropdown {
    .no-touch & {
        position: absolute;
        z-index: 90;
        top: -9999px;
        border: 4px solid $secondary-color;
        border-top: 0;
    }
    background-color: #fff;
    > li {
        @include font-size(18px);
        line-height: 1.5;
    }
}





/*==========  nav-lang  ==========*/
.nav-lang__container {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    text-align: right;
}
    .nav-lang {
        .no-js & {
            strong {
                color: $secondary-color;
            }
        }
        .js & {
            @extend .nav--stacked;
            position: absolute;
            z-index: 99;
            top: -9999px;
            margin-top: 2px;
            border: 1px solid darken(#fff, 20%);
            box-shadow: 1px 1px 5px rgba(0,0,0,.3);
            opacity: 0;
            @include vendor(transition,opacity .5s ease);
            background-color: #fff;
            &.active {
                opacity: 1;
                top: 26px;
                left: auto;
                right: -5px;
            }
            &:before {
                @include css-triangle($f-dropdown-triangle-size, $f-dropdown-triangle-color, bottom);
                position: absolute;
                top: -($f-dropdown-triangle-size * 2);
                left: auto;
                right: $f-dropdown-triangle-side-offset;
                z-index: 99;
            }
            &:after {
                @include css-triangle($f-dropdown-triangle-size + 1, $f-dropdown-border-color, bottom);
                position: absolute;
                top: -(($f-dropdown-triangle-size + 1) * 2);
                left: auto;
                right: $f-dropdown-triangle-side-offset - 1;
                z-index: 98;
            }
            a,
            strong {
                padding: 0 12px;
            }
        }
    }
  //   @media only screen and (max-width: 767px) {
  //   .nav-lang {
  //     max-width: 100%;
  //     #{$default-float}: $dropdown-mobile-default-float;
  //   }
  // }
    .nav-lang--langue {
        .no-js & {
            display: none;
        }
        border-bottom: 2px solid $secondary-color;
        padding: 0 4px;
        color: #000;
        @include font-size(16px);
        text-transform: uppercase;
    }

/*==========  nav-principale  ==========*/
//.nav-principale__container
#nav-main {
    .no-touch & {
        position: relative;
        border-bottom: 4px solid $secondary-color;
        > a {
            display: none;
        }
    }
    .touch & {
        // position: absolute;
        // top: 0; left: 0;
        > a {
            display: block;
            @include font-size(20px);
            line-height: 2;
        }
    }
}
.nav-principale {
    .no-touch & {
        margin-bottom: 0;
        font-weight: 400;
        text-align: left;
        > li {
            @include font-size(20px);
            line-height: 2;
        }
        > li:hover .nav--dropdown {
            top: 2em;
            left: -5px;
        }
        .nav__item {
            position: relative;
            white-space: nowrap;
        }
    }
    .touch & {
        display: none;
        position: absolute;
    }
    .touch &.active {
        display: block;
    } 
}
.item {
    padding: 0 6px;
}

.search-site {
    position: absolute;
    right: 0;
    top: 0;   
}

.icon--navigation {
    display: inline-block;
    padding: 6px;
    background-color: red;
}     

/*==========  nav-plan  ==========*/
.nav-plan {
    margin-bottom: $base-spacing-unit*2;
    ul li {
        position: relative;
        padding-left: 0.7em;
        &:before {
            display: block;
            position: absolute;
            left: 0;
            content: '/';
            color: #ccc;
        }
    }
}

/*-----  End of =nav  ------*/
 
