/*==============================
=            =objet            =
==============================*/
.objet {
    header {
        text-align: center;
    }
    .titre {
        color: $primary-color;
        @include font-size(48px);
    }
    .soustitre {
        color: #222;
       @include font-size(28px);
       font-weight: 400;
       display: block;
    }
    .texte {
        margin-bottom: $base-spacing-unit;
    }

}


/*-----  End of =objet  ------*/

