/*==================================
=            =page-head            =
==================================*/

.page-head {
    text-align: center;
    position: relative;
    margin-bottom: $base-spacing-unit*2;
    padding-top: 3em;
    @include media-query(portable) {
        padding-top: 4.5em;
    }
}
    .logo {
        @include media-query(desk) {
            margin-bottom: $base-spacing-unit;
        }
    }

/*-----  End of =page-head  ------*/

