/*==================================
=            =page-head            =
==================================*/

.page-head {
    text-align: center;
    position: relative;
    margin-bottom: $base-line-height*2;
    .no-js & {
        padding-top: 3em;
    }
    @include media-query(portable) {
        padding-top: 3em;
    }
}
    .logo {
        display: inline-block;
        @include media-query(desk) {
            margin-bottom: $base-spacing-unit;
        }
    }

/*-----  End of =page-head  ------*/

