/*=============================
=            =page            =
=============================*/

html {
    border-top: 7px solid $secondary-color;
    font-family: $body-font-family;
    font-weight: normal;
}

body {
    padding-top:$base-spacing-unit/2;
}

/*==========  =wrapper  ==========*/
.wrapper {
    max-width:1000px;
    margin-right:auto;
    margin-left: auto;
    padding-right:$base-spacing-unit;
    padding-left:$base-spacing-unit;


    // @include media-query(portable){
    //     padding-right:$half-spacing-unit;
    //     padding-left: $half-spacing-unit;
    //     max-width:640px;
    // }
}

/*-----  End of =page  ------*/

