/*===================================
=            =pagination            =
===================================*/

.pagination {
    margin-bottom: $base-spacing-unit;
    background-color: lighten($text-color,68%);
    > ul {
        list-style:none;
        display: inline;
        margin-left: $half-spacing-unit/2;
    }
}
    .pagination-label {
        @include font-size(16px);
        display: inline-block;
        margin-bottom: 0;
        text-transform: uppercase;
        color: $text-color-cool;
        font-weight: 400;
    }
    .pagination-item {
        padding: 0 $base-spacing-unit/4;
        display:inline-block;
        *display:inline;
        zoom:1;
        &.on {
            font-size: 19px;
            color: $secondary-color;
        }
        &.disabled {
            color: #ddd;
        }
    }

/*==========  pagination--page  ==========*/
.pagination--page {
    text-align: right;
}
/*==========  pagination--temporelle  ==========*/
.pagination--temporelle {
    // border-top: 2px solid $secondary-color;
    text-align: center;
}


/*-----  End of =pagination  ------*/
