/*==============================
=            =panel            =
==============================*/
.panel {  
    background-color: #ccc;
    @include border-radius(5px);
    .soustitre {
        color: #fff;
    }
}
    // .panel__item {
    //     margin-bottom: 1.5em;
    // }

/* Couleurs */
.panel--secondary {
    background-color: darken($secondary-color,5%);
    color: #fff;
}

/* Alignement */
.panel--center {
    text-align: center;
}


/*-----  End of =panel  ------*/

