/*============================
=            self            =
============================*/

.self {
    margin-bottom: $base-spacing-unit*2;
}
    .self__titre {
        color: $secondary-color;
    }
    .self__body {
        .chapo {
            color: #222;
            @include font-size(18px);
        }
    }

/*==========  self.rubrique  ==========*/
.self.rubrique {
    .self__logo {
        @include media-query(desk) {
            margin-top: 1em;
        }
    }
}

/*==========  self.article  ==========*/
.self.article {
    .self__titre {
        @include font-size(48px);
    }
    .soustitre {
        @include font-size(24px);
        line-height: 2;
    }
    .self__logo {
        margin-bottom: $base-spacing-unit;
    }
}

/*==========  evenements  ==========*/
.evenements {
    margin-bottom: $base-spacing-unit*2;
    padding-top: $base-spacing-unit/2;
    border-top: 1px dotted $text-color-light; //lighten($text-color,60%);
}

/*==========  self.evenement  ==========*/
.self.evenement {
    margin-bottom: $base-spacing-unit/2;
    border-bottom: 1px dotted $text-color-light; // lighten($text-color,60%);
    .self__titre {
        @include font-size(16px);
        margin-bottom: 12px;
    }
    .self__logo {
        float: left;
        margin-right: 12px;
        margin-bottom: 0px;
    }
    .info-publi {
        margin-bottom: $base-spacing-unit/2;
        font-style: italic;
        color: $primary-color;
    }
    .entry-content {
        margin-right: $base-spacing-unit;
        p {
            margin-bottom: $base-spacing-unit/2;
            @include font-size(14px);
            line-height: 1.4;
        }
    }
}

/*==========  self.recherche  ==========*/
.self.recherche {
    .self__titre {
        span {
            font-weight: 700;
        }
    }
}
    
/*-----  End of self  ------*/

