/*============================
=            self            =
============================*/

.self {
    margin-bottom: $base-spacing-unit*2;
}
    .self__titre {
        color: $secondary-color;
    }
    .self__body {
        .chapo {
            color: #222;
            @include font-size(18px);
        }
    }
    .self__logo {
        @include media-query(desk) {
            .rubrique & {
                margin-top: 1em;
            }
        }
    }


/*-----  End of self  ------*/

