/*============================
=            self            =
============================*/

.self {
    margin-bottom: $base-spacing-unit*2;
}
    .self__titre {
        color: $secondary-color;
    }
    .self__body {
        .chapo {
            color: #222;
            @include font-size(18px);
        }
    }

/*==========  self.rubrique  ==========*/
.self.rubrique {
    .self__logo {
        @include media-query(desk) {
            margin-top: 1em;
        }
    }
}

/*==========  self.article  ==========*/
.self.article {
    .self__titre {
        @include font-size(48px);
    }
    .soustitre {
        @include font-size(24px);
        line-height: 2;
    }
    .self__logo {
        margin-bottom: $base-spacing-unit;
    }
}
    
/*-----  End of self  ------*/

