/*=================================
=            =tableaux            =
=================================*/

.table {
    display: table;
    width: 100%;
}
.table__cell {
    display: table-cell;
    padding-right: .5em;
    padding: $base-spacing-unit/2 $base-spacing-unit/4 $base-spacing-unit/4 0;
    p {
        margin-bottom: 0;
    }
}

/*==========  tableaux pétition  ==========*/
.table__cell--name {
    span {
        text-transform: uppercase;
        // font-family: $dejavuSerifBold;
        font-weight: 700;
    }
}

/*==========  tableaux spip  ==========*/
table.spip {
      @extend .table--bordered;
      @extend .table--striped;
      @include font-size(13px);
      max-width: 100%;
      th {color: #000;}
      th, td {
         border-color: #ddd;
         border-width: 1px 0 0;
      }
      tr:last-child th,
      tr:last-child td {
         border-bottom-width: 1px;
      }
      tbody tr:nth-of-type(odd),
      .row_odd {
         background: #f9f9f9;
      }
      caption {
         color: #999;
         margin-bottom: 1em;
         text-transform: uppercase;
      }
   }

/*-----  End of =tableaux  ------*/

