/*=============================
=            =Typo            =
=============================*/

/* Headings */
.hN {
    font-family: $CabinC;
    font-weight: 400;
    .ru & {
        font-family: $helvetica;
    }
}

.text--upper {
    text-transform: uppercase;
}

/*-----  End of =Typo  ------*/

