/*=============================
=            =Typo            =
=============================*/

/* Headings */
.hN {
    font-family: $leagueReg;
    font-weight: normal;
    .ru & {
        font-family: $helvetica;
    }
}

/*-----  End of =Typo  ------*/

