// ========================================
// article-event
// ========================================

// .article-event {}

.article-event_title {
  color: $color-primary-500;

  .spip-text & {
    margin-top: 0;
    margin-bottom: 0.625rem;
    font-size: 1.5rem; // 24px;
  }
}

.article-event_date {
  font-weight: 700;
  font-size: 1.25rem; // 20px
  color: $color-secondary-500;
}
