// ========================================
// form
// ========================================

@use "sass:color";

.form {

  legend {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $color-primary-500;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    color: $color-primary-700;
  }

  input[type="text"],
  input[type="search"],
  textarea {
      padding: 0.5rem;
      width: 100%;
      outline: currentColor none medium;

      &:focus {
      }
  }

  .editer {
    margin-bottom: 1.5rem;
  }

  .erreur_message {
    color: $color-secondary-600;
    font-style: italic;
  }

  &--contact {
    & input[type="text"],
    textarea {
      border: 1px solid color.grayscale($color-primary-100);
      transition: border 0.3s ease;

      &:focus {
        border-color: $color-primary-700;
      }
    }

    input[type="submit"] {
      width: 100%;
      padding: 0.5rem;
      border: none;
      border-radius: 4px;
      background-color: $color-primary-500;
      color: $color-white;
      box-shadow: 0 3px 5px -1px rgba($color-black, 0.2);
      transition: background 0.3s ease;

      &:hover {
        background-color: $color-primary-400;
      }
    }

    .reponse_formulaire {
      padding: 0.25rem 0.5rem;
      border-radius: 5px;

      &.reponse_formulaire_erreur {
          color: $color-secondary-500;
          border: 2px solid $color-secondary-500;
      }

      &.reponse_formulaire_ok {
          border: 2px solid $color-primary-500;
      }
    }

    .previsu {
      border-bottom: 1px solid $color-primary-500;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }
}
