// ========================================
// overlay
// ========================================

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.35);

  &--full {
    padding: 0;
    justify-content: flex-start;
    align-items: stretch;
    background-color: transparent;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  @include mq($from: md) {
    padding: 10vh;
  }
}

body.has-overlay {
  overflow: hidden;
}
