// ========================================
// related
// ========================================

.related {
  margin: 3rem 0;
}

.related_heading {
  border-bottom: 2px solid $color-primary-500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  color: $color-primary-500;
}
