// ========================================
// resume-slider
// ========================================

.resume-slider {
  margin: 0;
}

.resume-slider_logo {
  margin-top: 0;

  @include mq(sm) {
    margin-inline: 0 0.75rem;
  }

  @include mq(lg) {
    width: 60%;
    max-width: 700px;
  }
}

.resume-slider_texte {
  margin-top: 1rem;
  color: $color-white;

  @include mq(sm) {
    margin-top: 0;
  }

  @include mq(lg) {
    max-width: 40%;
  }
}

.resume-slider_titre {
  font-weight: 700;
  font-size: 1.375rem; // 22px;
  line-height: 1.5rem; // 24px;

  & a {
    &:hover {
      color: $color-primary-100;
    }
  }
}

.resume-slider_desc {

  & .resume_link-more {
    color: $color-primary-100;

    &:hover {
      color: $color-white;
    }
  }
}

.resume-slider_metas {
  color: $color-primary-200;

  & a:hover {
    color: $color-white;
  }
}
