// ========================================
// resume-slider
// ========================================

.resume-slider {
  margin: 0;
}

.resume-slider_logo {
  margin-top: 0;

  @include mq(md) {
    margin-inline: 0 0.75rem;
  }
}

.resume-slider_texte {
  margin-top: 1rem;
  color: $color-white;

  @include mq(md) {
    margin-top: 0;
  }
}

.resume-slider_titre {

  & a {
    &:hover {
      color: $color-primary-100;
    }
  }
}

.resume-slider_desc {

  & .resume_link-more {
    color: $color-primary-100;

    &:hover {
      color: $color-white;
    }
  }
}
