// ========================================
// resume
// ========================================


// .resume {}

.resume_link {
  color: $color-black;

  &:hover {
    color: $color-primary-500;
  }

  &-more {
    color: $color-primary-500;

    &::before {
      content: "\2014\00A0";
    }

    & span {
      text-decoration: underline;
    }

    &:hover {
      color: $color-primary-200;
    }
  }
}
