// ========================================
// searchbox
// ========================================

// reference https://css-tricks.com/show-search-button-when-search-field-is-non-empty

$searchbox-btn-width: 6.5rem;

// .searchbox {
//   &--sitenavOverlay {}
// }

.searchbox_form {
  position: relative;
  overflow: hidden;
}

.searchbox_label {
  // display: block;
  text-transform: uppercase;

  .form & {
    color: $color-primary-500;
  }

  // .searchbox--sitenavOverlay &,
  // .searchbox--modal & {
  //   margin-bottom: 0.25rem;
  // }
}

.searchbox_input {
  margin: 0;
  padding-inline-end: calc(#{$searchbox-btn-width} + 0.5rem);
  -webkit-appearance: none;
  transition: background-color 0.3s ease-in;

  .form & {
    border: 0;
    background-color: rgba($color-white, 0.1);
  }

  &::placeholder {
    color: $color-white;
  }

  &:focus {
    color: $color-black;
    background-color: rgba($color-white, 1);
  }

  [dir="ltr"] &:not(:placeholder-shown) {
    & ~ .searchbox_btn {
      transform: translateX(-100%);
    }
  }

  [dir="rtl"] &:not(:placeholder-shown) {
    & ~ .searchbox_btn {
      transform: translateX(100%);
    }
  }

  .searchbox--modal & {
    background-color: rgba($color-white, 0.5);
    border: 1px solid rgba($color-primary-500, 0.2);

    &::placeholder {
      color: $color-black;
    }
  }
}

.searchbox_btn {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 100%;
  width: $searchbox-btn-width;
  padding: 0.5rem;
  background-color: $color-primary-500;
  transition: transform 0.4s ease;
}
