// ========================================
// searchResults
// ========================================

.searchResults {
  margin-bottom: auto;
  height: 100%;
  flex:1;
}

.searchResults_header {
  margin-bottom: 2rem;
}

.searchResults_title {
  font-size: 16px;
}

.searchResults_term {
  display: block;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: $color-primary-500;
}
