// ========================================
// section
// ========================================

//
// Section s'entend au sens de rubriques du site
//

.section {
  margin-bottom: 4rem;
}

.section_title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem; // 24px
  color: $color-primary-500;
}


// section-selections
// ========================================

// .section-selections {}


// section-events
// ========================================

// .section-events {}
// .section-events_title {}
