// ========================================
// sitenav
// ========================================

// .sitenav {}

// .sitenav_logo {
//   margin-inline-end: 1rem;
// }

.sitenav_triggerModalLanguage {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem; // 14px
  line-height: 1.125rem; // 18px
  transition: background-color 0.3s ease-in;

  .ar & {
    font-size: 1rem;
  }

  &:hover,
  &.is-active {
    @apply bg-primary-500;
  }
}

.sitenav_languageIcon {
  margin-inline-end: 2px;
  width: 18px;
  height: 18px;

}

.sitenav_triggerMenu {
  // Priorité à ces styles par rapport à ceux de la classe .hamburger
  &.hamburger {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
    inset-inline-end: -0.5rem;
  }
}
