// ========================================
// sitenavOverlay
// ========================================

// .sitenavOverlay {}

.sitenavOverlay_header {
  display: grid;
  grid-template-columns: 50% auto;
  justify-items: end;
  align-items: center;
}

.sitenavOverlay_menu {
  color: $color-white;
  visibility: hidden;
  transition: visibility 0.1s ease 0s;

  &.is-visible {
    visibility: visible;
    transition: visibility 0.2s ease 0.5s;
  }
}

// .sitenavOverlay_list {
//   &--sections {}
//   &--subsections {}
// }

.sitenavOverlay_item {

  &--section {
    transform: translateX(-20px);
    opacity: 0;
    transition: opacity 0s ease 0s, transform 0s ease 0s;

    > a,
    > span {
      text-transform: uppercase;
      color: $color-secondary-500;
    }

    .sitenavOverlay_menu.is-visible & {
      transform: translateX(0);
      opacity: 1;
      transition: opacity 0.3s ease 0.7s, transform 0.5s ease 0.7s;
    }
  }

  &--search {
    grid-column: 1 / span 2;
  }
}
