// ========================================
// slider-rubrique
// ========================================


.slider-rubrique {
  margin-bottom: 3rem;
  width: 100%;
  background-color: $color-primary-500;
}

.slider-rubrique_container {
  width: 100%;
}

// .slider-rubrique_list {}

.slider-rubrique_item {
  display: flex;
  padding: 1rem 1rem 0;
  margin-bottom: 3.5rem;
  max-width: 75%;
  opacity: 0.5;
  transition: opacity .5s ease-in;

  &.swiper-slide-active {
    opacity: 1;
  }

  @include mq(sm) {
    padding: 1.5rem 1rem 1rem;
    margin-bottom: 2.5rem;
  }

  @include mq(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: calc(100% - 8rem);
  }

  @include mq(xl) {
    max-width: 1052px;
  }
}

.slider-rubrique_pagination {
  @include mq(sm) {
    padding-bottom: 0;
  }
}

.slider-rubrique_navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & > .container {
    position: relative;
    height: 100%;
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    top: auto;
    bottom: 10px;
    border-radius: 50%;
    background-color: $color-secondary-500;
    color: $color-white;
    width: $swiper-navigation-size-sm;
    height: $swiper-navigation-size-sm;
    box-shadow: 0 3px 5px -1px rgba($color-black, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;

    &::after {
      font-size: $swiper-navigation-fontsize-sm;
    }

    &:hover {
      background-color: $color-secondary-600;
    }


    @include mq(sm) {
      top: 50%;
      bottom: auto;
    }
  }

  & .swiper-button-prev {
    inset-inline: 1rem auto;
    padding-inline-end: 0.125rem; // 2px

    @include mq(md) {
      inset-inline-start: 1.5rem;
    }

    @include mq(xl) {
      inset-inline-start: 0;
    }
  }

  & .swiper-button-next {
    inset-inline: auto 1rem;
    padding-inline-start: 0.125rem; // 2px

    @include mq(md) {
      inset-inline-end: 1.5rem;
    }

    @include mq(xl) {
      inset-inline-end: 0;
    }
  }
}
