// ========================================
// slider-portfolio
// ========================================


.slider-portfolio {
  margin: 4rem 0;
  width: 100%;
}

.slider-portfolio_list {
  padding-bottom: 3rem;
}

.slider-portfolio_item {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  & img {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(100% - 2.5rem);
  }

  @include mq(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    & img {
      max-width: calc(100% - 3rem);
    }
  }
}
