// slider
//
// Styles en complément de swiper.js
// ========================================

// variables
$swiper-navigation-fontsize-sm: 20px;
$swiper-navigation-size-sm: 36px;
$swiper-navigation-size: 44px;
$swiper-navigation-bg: $color-white;
$swiper-navigation-color: $color-primary-500;
$swiper-pagination-color: $color-black;
$swiper-pagination-color-active: $color-secondary-500;

// .slider {}

// .slider_list {}

// .slider_item {}

// .slider_navigation {}

.slider_pagination {
  & .swiper-pagination-bullet {
    background-color: $swiper-pagination-color;
    opacity: 0.35;
  }

  & .swiper-pagination-bullet-active {
    background: $swiper-pagination-color-active;
    opacity: 1;
  }

  @include mq(sm) {
    padding-bottom: 0;
  }
}
