// slider
//
// Styles en complément de swiper.js
// ========================================

// variables
$swiper-navigation-fontsize-sm: 20px;
$swiper-navigation-size-sm: 36px;
$swiper-navigation-size: 44px;
$swiper-navigation-bg: $color-white;
$swiper-navigation-color: $color-primary-500;
$swiper-pagination-color: $color-black;
$swiper-pagination-color-active: $color-secondary-500;

// .slider {}

// .slider_list {}

// .slider_item {}

.slider_pagination {
  & .swiper-pagination-bullet {
    background-color: $swiper-pagination-color;
    opacity: 0.35;
  }

  & .swiper-pagination-bullet-active {
    background: $swiper-pagination-color-active;
    opacity: 1;
  }

  @include mq(sm) {
    padding-bottom: 0;
  }
}

.slider_navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & > .container {
    position: relative;
    height: 100%;
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    top: auto;
    bottom: 10px;
    border-radius: 50%;
    background-color: $color-secondary-500;
    color: $color-white;
    width: $swiper-navigation-size-sm;
    height: $swiper-navigation-size-sm;
    box-shadow: 0 3px 5px -1px rgba($color-black, 0.2);
    transition: background-color 0.3s ease;

    &::after {
      font-size: $swiper-navigation-fontsize-sm;
    }

    &:hover {
      background-color: $color-secondary-600;
    }


    @include mq(sm) {
      top: 50%;
      bottom: auto;
    }
  }

  & .swiper-button-prev {
    inset-inline: 1rem auto;
    padding-inline-end: 0.125rem; // 2px

    @include mq(md) {
      inset-inline-start: 1.5rem;
    }

    @include mq(xl) {
      inset-inline-start: 0;
    }
  }

  & .swiper-button-next {
    inset-inline: auto 1rem;
    padding-inline-start: 0.125rem; // 2px

    @include mq(md) {
      inset-inline-end: 1.5rem;
    }

    @include mq(xl) {
      inset-inline-end: 0;
    }
  }
}
