// ========================================
// spip-text
// ========================================

// styles des contenus issus des champs textes de Spip

.spip-text {
  a {
    color: currentColor;
    border-bottom: 2px solid $color-primary-500;
    // text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary-500;
    }
  }
}
